*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--color-bg-default);
  color: var(--color-text-primary);
  font: var(--font-body-md);
  -webkit-font-smoothing: antialiased;
}

a {
  color: var(--color-link-default);
}
